{
  "release": {
    "branches": [
        {
            "name": "main",
            "channel": "release"
        }, 
        {
            "name": "dev",
            "channel": "beta"
        },
        {
            "name": "feature/*",
            "channel": "alpha"
        }
    ]
  }
}