//var configTreetrackerApi = 'http://localhost:8080/api/web/';
// copy this file to config.js, and configure your api endpoint.
// NOTE: when you use docker-compose, the api url has to match with your nginx rewrite config (dev/nginx-reverse-proxy-web-map.conf)

var sentryDSN = null;
