body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: #ffffff;
  /* Match font weight to figma */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.side {
  position: absolute;
  background: white;
  font-size: 40px;
  z-index: 999;
  width: 250px;
  height: 100%;
}

.side-panel {
  position: relative;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  z-index: 999;
}

.search-box {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Customize CSS of leaflet copyright */
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin-right: 5px;
}

.leaflet-control {
  animation-name: slideInFromBottom;
  animation-duration: 1s;
}

.leaflet-control-attribution {
  line-height: 13px;
  float: right;
  /* padding-left: 3px; */
  margin-right: 15px;
  display: table-row;
  font-size: 10px;
  /* background: #fff; */
  overflow: hidden;
  bottom: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  border: 0;
  color: #333;
}

.leaflet-bar {
  /* box-shadow: 0 1px 5px rgb(0 0 0 / 65%); */
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
  border-radius: 4px;
}

.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  margin-bottom: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0px;
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
}

.leaflet-bottom {
  z-index: 900 !important;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.debug-icon {
  background: red;
  border-radius: 50%;
}

.text {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.not-found {
  width: 100%;
  text-align: center;
  font-family: 'Arial';
}

.not-found h1 {
  font-size: 4rem;
}

.not-found-background {
  background-image: url(./images/notfound.svg);
  width: auto;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.footer-distributed {
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 60px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .input_block{
    background-color: transparent;
    border-color: #474B4F;
    border-width: 1px;
    padding: 1.5px 5px;
    align-items: center;
    margin-right: 6px;
    width: 230px;
    min-width: 100px;
}

.footer-distributed .submit_button{
    padding: 2px 10px;
    font-weight: 600;
    background-color: transparent;
    color: #5f892c;
    border-color: #474B4F;
    border-width: 1.5px;
}

.footer-distributed h6 {
    color: #474B4F;
    font: normal 18px 'Open Sans', cursive;
    margin: 0px 5px;
    font-weight: 600;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #61892F;
    margin: 20px 0 12px;
    padding: 0;
    display: inline-block;
}

.footer-distributed .footer-links a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.85;
    text-decoration: none;
    color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: black;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-weight: 600;
}

.footer-distributed .footer-center p span {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #474B4F;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: transparent;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #474B4F;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #61892F;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #56636b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}