html {
  position: fixed;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px;
  background: #ffffff;
  overscroll-behavior: contain;
}

.side {
  position: absolute;
  background: white;
  font-size: 40px;
  z-index: 999;
  width: 250px;
  height: 100%;
}

.side-panel {
  position: relative;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  z-index: 999;
}

.search-box {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Customize CSS of leaflet copyright */
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin-right: 5px;
}

.leaflet-control {
  animation-name: slideInFromBottom;
  animation-duration: 1s;
}

.leaflet-control-attribution {
  line-height: 13px;
  float: right;
  /* padding-left: 3px; */
  margin-right: 15px;
  display: table-row;
  font-size: 10px;
  /* background: #fff; */
  overflow: hidden;
  bottom: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  border: 0;
  color: #333;
}

.leaflet-bar {
  /* box-shadow: 0 1px 5px rgb(0 0 0 / 65%); */
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
  border-radius: 4px;
}

.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  margin-bottom: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0px;
  box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
}

.leaflet-bottom {
  z-index: 900 !important;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.debug-icon {
  background: red;
  border-radius: 50%;
}

.text {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.not-found {
  width: 100%;
  text-align: center;
  font-family: 'Arial';
}

.not-found h1 {
  font-size: 4rem;
}

.not-found-link {
  font-weight: bold;
  color: #fff;
  background-color: #86c232;
  padding: 8px 7px;
  border-radius: 5px;
  border-top: 10px;
}

.not-found a:hover {
  text-decoration: none;
  color: #fff;
}

.not-found-background {
  background-image: url(./images/notfound.svg);
  width: auto;
  height: 500px;
  background-position: center;
  background-size: cover;
}
